

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 10%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(143, 18, 246);
}


.logo img {
    height: 70px;
    width: auto;
}


.menu-nav li {
   
    display: flex;
}

.menu-nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
